# --- Security ---
.env
.DS_Store
secrets/

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
.pytest_cache/

# --- Data
# Ignore large data files per-directory; only track DVC pointers and folder structure
data/raw/*.csv
data/rosters/*.csv
data/curated/*.csv
!data/curated/target_rookies.csv
data/processed/*.csv
data/slates/*.csv
!data/**/*.dvc
tests/*.png

# --- DVC ---
.dvc/tmp/
.dvc/cache/

# --- IDE ---
.vscode/
.idea/

# misc
notes.md
notebooks/*.ipynb
src/models/model.ubj
src/models/production/*
src/diagnostics/
reports/