# --- Security ---
.env
.DS_Store
secrets/

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
.pytest_cache/

# --- Data
# Ignore all data files by default; only track DVC pointers and gitignores
data/*
!data/**/
!data/**/*.dvc
!data/**/.gitignore
!data/**/*.md
data/curated/*

# --- DVC ---
.dvc/tmp/
.dvc/cache/

# --- IDE ---
.vscode/
.idea/

# misc
notes.md
notebooks/*.ipynb
src/models/model.ubj
src/models/production/*
src/diagnostics/
reports/