# --- Data Engineering ---
pandas
requests
beautifulsoup4
lxml

# --- MLOps & Tracking ---
dvc[s3]

# --- Entity Resolution ---
thefuzz
python-Levenshtein

# --- EDA & Visualization ---
jupyter
matplotlib
seaborn